/*
Made by Vinayak Handa
github.com/vinayakhanda
*/

#score{
    font-family: 'Courier New', Courier, monospace;
}
.player{
    height: 30cm ;
    width: 35%;
    border: 1;
    background-color: darkorange;
    float: left;
}
img{
   /* padding-left: 120px; */
    padding-top: 50px;
 
}
button{
    background-color: aqua;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-family: 'Courier New', Courier, monospace;  
}
.cntSpc{
    height: 30cm ;
    width: 30%;
    border: 1;
    background-color: rgb(217, 255, 0);
    float: left;
}
.comp{
        height: 30cm ;
        width: 35%;
        border: 1;
        background-color: darkorange;
        float: left;
}